@model LocalesModel

<form asp-controller="Locales" asp-action="EditarLocal">
    <div class="container my-5">
        <h2 class="text-center mb-4">Ver y Editar Local</h2>

        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="form-group mb-4">
                    <input type="text" required class="form-control form-control-lg" asp-for="nombre" placeholder="Nombre del local" />
                </div>

                <div class="form-group mb-4">
                    <select asp-for="categoria" class="form-control form-control-lg" asp-items="ViewBag.Categorias">
                        <option value="">Seleccione una categoría</option>
                    </select>
                </div>

                <div class="form-group mb-4">
                    <textarea class="form-control form-control-lg" required asp-for="descripcion" placeholder="Descripción"></textarea>
                </div>

                <input type="hidden" asp-for="_id" />

                <div class="text-center">
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Editar Local</button>
                </div>
            </div>
        </div>
    </div>
</form>
