@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<body>
    <header>
        <div class="banner-admin" style="background-image: url('https://images.pexels.com/photos/1058277/pexels-photo-1058277.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2'); opacity: 0.5; background-size: cover; background-position: center; padding: 40px 0; color: white; text-align: center; position: relative;">
            <div style="background-color: rgba(12, 12, 12, 0.8); padding: 15px;">
                <h1 style="font-size: 2em;">Administración de locales, usuarios, reseñas y reservas</h1>
            </div>
        </div>
    </header>
    <div class="text-center" style="padding: 40px;">
        <h1 class="display-4" style="margin-bottom: 20px;">Bienvenido al sistema administrativo</h1>
        <p style="font-size: 1.2em; color: #555;">Administra locales, gestiona usuarios, publica eventos y revisa reseñas con facilidad.</p>        
        <div style="margin-top: 30px;">
            <img src="https://video-public.canva.com/VAF-scfBSRw/v/5c260f70d8.gif" alt="Admin Dashboard GIF" style="max-width: 80%; height: auto; border-radius: 20px;">
        </div>
    </div>

</body>
</html>

















