@model UsuariosModel

<form asp-controller="Usuarios" asp-action="CrearUsuario">
    <div class="container my-5">
        <h2 class="text-center mb-4">Crear Nuevo Usuario</h2>

        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="form-group mb-3">
                    <input type="text" required class="form-control form-control-lg" asp-for="_id" placeholder="ID del usuario" />
                </div>

                <div class="form-group mb-3">
                    <input type="text" required class="form-control form-control-lg" asp-for="nombre" placeholder="Nombre del usuario" />
                </div>

                <div class="form-group mb-3">
                    <input type="password" class="form-control form-control-lg" asp-for="contraseña" placeholder="Contraseña" />
                </div>

                <div class="form-group mb-3">
                    <input type="email" class="form-control form-control-lg" required asp-for="correo" placeholder="Correo electrónico" />
                </div>

                <div class="form-group mb-3">
                    <input type="text" class="form-control form-control-lg" required asp-for="foto_de_perfil" placeholder="URL de la foto de perfil" />
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-primary btn-lg">Crear Usuario</button>
                </div>
            </div>
        </div>
    </div>
</form>
